
@{

    ViewData["Title"] = "BootstrapTestIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        background-color: #DDDF7C;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <h1>Bootstrap Tutorial</h1>
        <p>
            Bootstrap is a free, open-source and is the most popular HTML, CSS,
            and JavaScript framework developed by twitter for creating
            responsive web applications.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="http://youtube.com/kudvenkat">
                Get started
            </a>
        </p>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Bootstrap Tutorial</h1>
        <p>
            Bootstrap is a free, open-source and is the most popular HTML, CSS,
            and JavaScript framework developed by twitter for creating
            responsive web applications.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="http://youtube.com/kudvenkat">
                Get started
            </a>
        </p>
    </div>
</div>